@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

:root {
	--primary-color: #15b996;
	--background-color: #f6fefc;
	--complementary-color: #b91538;
	--navbar-button-color: #0a5c4a;
	--font-color: #052e25;
	--font-size-smaller: 16px;
	--font-size-medium: 18px;
	--font-size-larger: 20px;
	--font-weight-700: 700;
	--font-weight-600: 600;
	--alert-success-background: #64bc26;
	--alert-error-background: #dc2626;
	--alert-warning-background: #fad202;
	--margin-size-2: 2px;
	--margin-size-5: 5px;
	--margin-size-10: 10px;
	--margin-size-15: 15px;
	--margin-size-20: 20px;
	--margin-size-1rem: 1rem;
	--margin-size-half-rem: 0.5rem;
	--margin-size-two-rem: 2rem;
	--margin-size-12: 0.7rem;
	--line-height-normal: 1.8;
	--padding-size-one-rem: 1rem;
	--padding-size-one-and-a-half-rem: 1.5rem;
	--padding-size-8: 0.5rem;
	--padding-size-32: 2rem;
	--letter-spacing-1px: 1px;
	--gray-text-color: rgba(5, 46, 37, 0.4);
	--badge-warning-color: #fcd34d;
	--badge-success-color: #15b996;
	--badge-error-color: #d1d5db;
	--border-size-5: 5px;
	--border-size-10: 10px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

.app__container {
	background-color: var(--background-color);
	color: var(--font-color);
	width: 100%;
	min-height: 100vh;
	overflow-y: auto;
	display: grid;
	grid-template-columns: 20% auto;
	grid-template-rows: minmax(50px, 90px) auto;
	grid-template-areas:
		"navbar navbar"
		"sidebar main";
}

.w100 {
	width: 100%;
}

.c-pointer {
	cursor: pointer;
}

.font-16 {
	font-size: var(--font-size-smaller);
}

.font-18 {
	font-size: var(--font-size-medium);
}

.font-20 {
	font-size: var(--font-size-larger);
}

.font-larger {
	font-size: var(--font-size-larger);
}

.fw-600 {
	font-weight: var(--font-weight-600);
}

.lh-normal {
	line-height: var(--line-height-normal);
}

.padding-l16 {
	padding-left: var(--padding-size-one-rem);
}

.padding-r16 {
	padding-right: var(--padding-size-one-rem);
}

.padding-t16 {
	padding-top: var(--padding-size-one-rem);
}

.padding-b16 {
	padding-bottom: var(--padding-size-one-rem);
}

.padding-l24 {
	padding-left: var(--padding-size-one-and-a-half-rem);
}

.padding-r24 {
	padding-right: var(--padding-size-one-and-a-half-rem);
}

.padding-t24 {
	padding-top: var(--padding-size-one-and-a-half-rem);
}

.padding-b24 {
	padding-bottom: var(--padding-size-one-and-a-half-rem);
}

.padding-t8 {
	padding-top: var(--padding-size-8);
}

.padding-b8 {
	padding-bottom: var(--padding-size-8);
}

.padding-l8 {
	padding-left: var(--padding-size-8);
}

.padding-r8 {
	padding-right: var(--padding-size-8);
}

.padding-t32 {
	padding-top: var(--padding-size-32);
}

.padding-b32 {
	padding-bottom: var(--padding-size-32);
}

.padding-l32 {
	padding-left: var(--padding-size-32);
}

.padding-r32 {
	padding-right: var(--padding-size-32);
}

.font-color--white {
	color: var(--background-color);
}

.color-red {
	color: var(--complementary-color);
}

.color-success {
	color: var(--primary-color);
}

.color-error {
	color: var(--gray-text-color);
}

.color-warning {
	color: var(--badge-warning-color);
}

.ls-1 {
	letter-spacing: var(--letter-spacing-1px);
}

.text-center {
	text-align: center;
}

.gray-text {
	color: var(--gray-text-color);
}

.text-uppercase {
	text-transform: uppercase;
}

.m16 {
	margin: var(--margin-size-1rem);
}

.mt-16 {
	margin-top: var(--margin-size-1rem);
}

.mb-16 {
	margin-bottom: var(--margin-size-1rem);
}

.mt-8 {
	margin-top: var(--margin-size-half-rem);
}

.mb-8 {
	margin-bottom: var(--margin-size-half-rem);
}

.mr-8 {
	margin-right: var(--margin-size-half-rem);
}

.ml-8 {
	margin-left: var(--margin-size-half-rem);
}

.mb-2 {
	margin-bottom: var(--margin-size-2);
}

.mt-2 {
	margin-top: var(--margin-size-2);
}

.mr-2 {
	margin-right: var(--margin-size-2);
}

.ml-2 {
	margin-left: var(--margin-size-2);
}

.mt-5 {
	margin-top: var(--margin-size-5);
}

.mr-5 {
	margin-right: var(--margin-size-5);
}

.ml-5 {
	margin-left: var(--margin-size-5);
}

.mb-5 {
	margin-bottom: var(--margin-size-5);
}

.ml-16 {
	margin-left: var(--margin-size-1rem);
}

.mr-16 {
	margin-right: var(--margin-size-1rem);
}

.ml-32 {
	margin-left: var(--margin-size-two-rem);
}

.mt-32 {
	margin-top: var(--margin-size-two-rem);
}

.mb-32 {
	margin-bottom: var(--margin-size-two-rem);
}

.mr-32 {
	margin-right: var(--margin-size-two-rem);
}

.mr-12 {
	margin-right: var(--margin-size-12);
}

.border-none {
	border: none;
}

.border-5 {
	border-radius: var(--border-size-5);
}

.border-10 {
	border-radius: var(--border-size-10);
}

.heading {
	font-weight: var(--font-weight-700);
	font-size: 2.5rem;
	line-height: 2;
}

.navbar {
	background-color: var(--primary-color);
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: navbar;
	position: fixed;
	top: 0;
	z-index: 3;
	padding: 0.5rem;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
}

.menu-icon-dimensions {
	display: none;
	width: 30px;
	height: 30px;
}

.menu-icon-dimensions svg {
	display: none;
	width: 100%;
	height: 100%;
}

.nav-icon-dimensions {
	width: 40px;
	height: 40px;
}

.nav-icon-dimensions svg {
	width: 100%;
	height: 100%;
}

.navbar--with-search {
	background-color: var(--primary-color);
	min-height: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-area: navbar;
	position: fixed;
	top: 0;
	z-index: 3;
	padding: 0.5rem;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
}

.search__wrap {
	/* width: 50%; */
	height: 30px;
	position: relative;
}

.search-input {
	width: 100%;
	height: 100%;
	outline: transparent;
	border: 1px solid transparent;
	border-radius: 5px;
}

.search-icon {
	width: 25px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 2px;
}

.search-icon svg {
	width: 100%;
	height: 100%;
}

.search-icon img {
	width: 100%;
	height: 100%;
}

.nav__image {
	max-width: 100%;
	max-height: 100%;
	margin-right: 0.5rem;
}

.nav-logo-container {
	display: flex;
	align-items: center;
	height: 2rem;
}

.navbar__title {
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 600;
	color: var(--background-color);
}

.navbar-contact {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

.navbar__list {
	display: flex;
	align-items: center;
}

.list__item {
	list-style: none;
}

.list__item:focus {
	color: blue;
}

.sidepane-list-item {
	border-radius: 5px;
}

.sidepane-list-item:hover {
	background-color: #dffcee;
}

.navbar-contact-img {
	height: 100%;
}

.navbar__link {
	height: 100%;
}

.link__item {
	display: block;
	color: var(--font-color);
	text-decoration: none;
}

.link-active {
	background-color: #d1fae5;
	border-radius: 5px;
}

.button {
	outline: none;
	border: none;
	font-size: var(--font-size-medium);
	border-radius: 5px;
	background-color: var(--navbar-button-color);
	padding: 0.4rem 0.7rem;
	cursor: pointer;
	letter-spacing: 1px;
}

.button--primary,
.navbar__button {
	color: var(--background-color);
	background-color: var(--navbar-button-color);
}

.button--error {
	color: var(--background-color);
	background-color: var(--complementary-color);
}

.button:hover {
	transform: scale(1);
	box-shadow: 0 0 5px #052e25;
}

.outlined--button {
	outline: none;
	border: none;
	font-size: var(--font-size-medium);
	border-radius: 5px;
	padding: 0.7rem;
	cursor: pointer;
	letter-spacing: 1px;
	background-color: var(--background-color);
	color: var(--font-color);
	border: 1px solid var(--primary-color);
}

.outlined--button:hover {
	background: #dffcee;
}

.display-block {
	display: block;
}

.flex-row-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-row-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.flex-col-horizontal-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.flex-col-vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.rounded-image {
	border-radius: 50%;
}

.img__background {
	background-color: #dffcee;
	width: 110px;
	height: 110px;
}

.img-bg-white {
	background: #fff;
	border: 10px solid #dffcee;
	width: 120px;
	height: 120px;
}

aside {
	width: 20%;
	grid-area: sidebar;
	padding: 1.25rem;
	position: fixed;
	bottom: 0;
	top: 50px;
	overflow: auto;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

main {
	grid-area: main;
	height: calc(100%-70px);
}

.avatar--small {
	width: 20px;
	height: 20px;
}

.avatar--medium {
	width: 100px;
	height: 100px;
}

.bordered__image {
	border: 10px solid #dffcee;
}

.alert {
	width: 50%;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	padding: 1rem 1.5rem;
}

.alert--success {
	background-color: var(--alert-success-background);
	color: var(--font-color);
}

.alert--error {
	background-color: var(--alert-error-background);
	color: var(--font-color);
}

.alert--warning {
	background-color: var(--alert-warning-background);
	color: var(--font-color);
}

.badge {
	padding: 0.5rem;
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-700);
	border-radius: 0px 10px 10px 0px;
}

.badge--success {
	color: var(--background-color);
	background: var(--badge-success-color);
}

.badge--error {
	background: var(--badge-error-color);
	color: var(--font-color);
}

.badge--warning {
	color: var(--font-color);
	background: var(--badge-warning-color);
}

.card {
	max-width: 250px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.image-container {
	width: 100%;
	height: 60%;
	border-radius: 10px;
}

.card__body {
	min-height: auto;
	padding: 0.7rem 0.5rem;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.image-container img {
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
	padding: 0.5rem;
}

.highlighted__price {
	background-color: #fad202;
	font-size: 13px;
	padding: 0.5rem;
	border-radius: 4px;
}

.price__tag {
	font-size: 13px;
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.product__name {
	font-weight: var(--font-weight-700);
}

.rating {
	display: flex;
	align-items: center;
	width: max-content;
	font-weight: var(--font-weight-700);
	border: 0.5px solid rgba(5, 46, 37, 0.1);
	padding: 0.5rem;
	border-radius: 5px;
	margin-top: 0.5rem;
}

.rating img {
	height: 20px;
	margin-left: 0.5rem;
}

.footer-img {
	height: 1rem;
}

.img-w300-h200 {
	width: 300px;
	height: 200px;
}

.img-w200-h200 {
	width: 200px;
	height: 200px;
}

.br-10 {
	border-radius: 10px;
}

.input__control {
	outline: none;
	border: 1px solid var(--font-color);
	border-radius: 5px;
	font-size: 18px;
	padding: 15px;
	background-color: var(--background-color);
}

.input__control:focus {
	border: 1px solid var(--primary-color);
}

.input__wrap {
	text-align: center;
	position: relative;
}

.input__label {
	position: absolute;
	transform: translate(15px, 14px) scale(1);
	transform-origin: top left;
	transition: all 0.2s ease-out;
	background: #fff;
	padding: 0 0.3rem;
	cursor: text;
}

.input__wrap:focus-within .input__label {
	transform: translate(15px, -12px) scale(1);
	color: var(--primary-color);
}

.list__container {
	min-width: 250px;
	display: flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 1px solid var(--font-color);
}

.stacked-list-text {
	width: 100%;
	display: flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 1px solid var(--font-color);
}

.stacked-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	height: 150px;
	border-bottom: 1px solid var(--font-color);
}

.stacked-list-container {
	width: 30%;
	height: 80%;
	margin-right: 1rem;
}

.stacked-list-desc {
	width: auto;
}

.stacked-list-container img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.list-item-col {
	text-align: center;
	padding: 0.5rem;
	list-style: none;
}

.list-item-colored {
	background-color: #0f8a6f;
	color: var(--background-color);
}

.box__container {
	width: 80%;
	height: 50px;
	display: flex;
	background-color: var(--primary-color);
	border-radius: 5px;
}

.flex-row-end {
	display: flex;
	align-items: center;
	justify-items: flex-end;
}

.nav__links {
	color: var(--background-color);
	font-size: var(--font-size-smaller);
	font-weight: 600;
	text-decoration: none;
	margin: 0 1rem;
}

.nav__links:hover {
	color: #0a5c4a;
}

.nav__links:active {
	color: #0a5c4a;
}

#modal__container {
	display: none;
}

.modal__body {
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: var(--background-color);
	border-radius: 5px;
	z-index: 10;
}

.grid__container {
	display: grid;
	width: 100%;
	height: 250px;
}

.grid-col-3 {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	grid-column-gap: 1rem;
}

.grid-col-2 {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	grid-column-gap: 1rem;
}

.grid__child {
	height: 100%;
}

.grid__child img {
	width: 100%;
	height: 100%;
}

.toast {
	font-weight: 600;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	border-radius: 5px;
}

.toast img {
	margin-left: var(--margin-size-1rem);
}

.toast--success {
	background: var(--background-color);
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
}

.toast--warning {
	background: var(--background-color);
	color: var(--alert-warning-background);
	border: 2px solid var(--alert-warning-background);
}

.toast--error {
	background: var(--background-color);
	color: var(--alert-error-background);
	border: 2px solid var(--alert-error-background);
}

#mobile-sidebar {
	display: none;
}

#open-sidebar-icon {
	display: none;
}

.footer {
	width: 100%;
	min-height: 60px;
	color: var(--font-color);
	position: relative;
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.footer-contact-img {
	height: 1.8rem;
	width: 1.8rem;
}

.footer-img-padding {
	padding: 0 0.5rem;
}

@media screen and (max-width: 520px) {
	.app__container {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: minmax(60px, 90px) 90%;
		grid-template-areas:
			"navbar"
			"main";
	}
	aside {
		display: none;
		position: static;
		z-index: 0;
	}
	.navbar {
		min-height: 90px;
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
	}

	.navbar--with-search {
		min-height: 90px;
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
	}

	.search__wrap {
		display: none;
	}

	.search__wrap--mobile {
		display: flex;
		width: 100%;
		height: 30px;
		position: relative;
	}

	.nav__image__text__container {
		height: 1.8rem;
	}
	.navbar-contact-img {
		width: 50px;
	}
	.navbar-contact {
		max-height: 1.8rem;
	}
	.navbar__link {
		height: 100%;
		width: 100%;
		padding: 0;
	}
	.alert {
		width: 100%;
		align-items: center;
	}
	.box__container {
		display: flex;
		width: 100%;
	}
	.links__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.navbar__button {
		display: none;
	}

	.button {
		margin-bottom: 0.5rem;
	}

	.grid-col-3,
	.grid-col-2 {
		grid-template-columns: 100%;
		grid-template-rows: 1fr 1fr;
		grid-row-gap: 1rem;
	}

	.grid__container {
		display: grid;
		width: 100%;
		height: auto;
	}

	.grid__child {
		height: 200px;
	}

	.avatar--medium {
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}

	.stacked-list-item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 0.5rem;
		height: auto;
		border-bottom: 1px solid var(--font-color);
	}

	.stacked-list-container {
		min-height: 100px;
		margin-right: 1rem;
	}

	.stacked-list-container img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}

	.close-icon-div {
		width: 100%;
		height: 2rem;
		margin-bottom: 0.7rem;
		display: flex;
		justify-content: flex-end;
	}
	.close-icon-div img {
		width: 30px;
		height: 100%;
	}

	#open-sidebar-icon {
		display: flex;
	}

	.modal__body {
		width: 80%;
	}
}

@media only screen and (max-width: 900px) {
	.app__container {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: minmax(60px, 90px) 90%;
		grid-template-areas:
			"navbar"
			"main";
	}
	aside {
		display: none;
		position: static;
		z-index: 0;
	}

	.mobile-sidebar {
		width: 70%;
		height: 100%;
		align-items: center;
		flex-wrap: wrap;
		padding: 0.5rem;
		overflow: auto;
		position: fixed;
		top: 0;
		background-color: var(--background-color);
		z-index: 10;
	}

	.close-icon-div {
		width: 100%;
		height: 2rem;
		margin-bottom: 0.7rem;
		display: flex;
		justify-content: flex-end;
	}
	.close-icon-div img {
		width: 30px;
		height: 100%;
	}

	#open-sidebar-icon {
		display: flex;
	}

	.menu-icon-dimensions {
		display: flex;
	}

	.menu-icon-dimensions svg {
		display: flex;
	}

	.nav-icon-dimensions {
		width: 25px;
		height: 25px;
	}

	.nav-icon-dimensions svg {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 680px) {
	.search__wrap {
		display: none;
	}

	.search__wrap--mobile {
		display: flex;
		width: 100%;
		height: 30px;
		position: relative;
	}
}

@media only screen and (min-width: 901px) {
	.nav-icon-dimensions {
		width: 25px;
		height: 25px;
	}

	.nav-icon-dimensions svg {
		width: 100%;
		height: 100%;
	}
}
